---
interface Props {
  id: string;
  title?: string;
}

const { id, title = 'YouTube video' } = Astro.props;
---

<div class="relative w-full my-8" style="padding-bottom: 56.25%;">
  <iframe
    class="absolute inset-0 w-full h-full rounded-xl"
    src={`https://www.youtube-nocookie.com/embed/${id}`}
    title={title}
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
